[submodule "src/BroadcastAssembler"]
	path = src/BroadcastAssembler
	url = ../FEniCS_Modules/BroadcastAssembler/
[submodule "src/multiwriter"]
	path = src/multiwriter
	url = ../FEniCS_Modules/multiwriter/
[submodule "src/ProximityTree"]
	path = src/ProximityTree
	url = ../FEniCS_Modules/ProximityTree/
[submodule "src/ContactMultiMesh"]
	path = src/ContactMultiMesh
	url = ../FEniCS_Modules/ContactMultiMesh/
